body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

button{
  height: 40px;
  width: 40px;
}

button:nth-last-child(1){
  width: 160px;
}

textarea{
  height: 34px;
  width: 154px;
}
